<div class="last-entry">
    <p><strong><%= link_to current_user.recent_entry.name, entry_path(@user.recent_entry)%></strong></p>
    <p><%= current_user.recent_entry.notes %></p>
    <p><%= current_user.recent_entry.status %></p>
</div>