<h1> Welcome <%=@user.first_name%> <%=@user.last_name %>! </h1>
<p> Member since <%=@user.created_at.strftime("%B %Y")%></p>
<br>
<p> 

<h3> Your Workout Log <h3>

<div class="wrapper">
    <div class="box1"> Test text statement 1 </div>
    <div class="box2"> Test text statement 2 </div>
    <div class="box3"> Test text statement 3 </div>
    <div class="box4"> Test text statement 4 </div>
</div>

