<h1> Welcome <%=@user.first_name%> <%=@user.last_name %>! </h1>
<p> Member since <%=@user.created_at.strftime("%B %Y")%></p>
<br>
<p> 
<%= link_to "Add Athlete", athlete_path  %>
<h3> Your Athletes <h3>
