/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* LAYOUT */
    .site-main{
        margin: 0;
    }

    .header{
        display:grid;
        grid-template-columns: 1fr 3fr 1fr;
        grid-gap:1em;
        background: #696969;
        align-items: center;
    }
    .header-left{
        background:  #00CED1;
        grid-column: 1;
        color: red;
        padding-left: 1em;
        font-weight: 400;
    }
    .header-center{
      grid-column: 2;
      --gap: 16px;
      display: inline-flex;
      flex-wrap: wrap;
      margin: calc(-1 * var(--gap)) 0 0 calc(-1 * var(--gap));
      width: calc(100% + var(--gap));
    }
    .header-center > * {
      margin: var(--gap) 0 0 var(--gap);
    }
    .header-right{
        grid-column: 3;
        text-align: end;
        padding-right: 1em;
    }
    .header-admin{
        display:flexbox;
        text-align: end;
        background-color: red;
        padding-right: 1em;
        padding-top: 0.25em;
        padding-bottom: 0.25em;
    }
/* Bootstrap Alerts */
  .alert {
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
  }
  
  .alert-heading {
    color: inherit;
  }
  
  .alert-link {
    font-weight: 700;
  }
  
  .alert-dismissible {
    padding-right: 3rem;
  }
  .alert-dismissible .btn-close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    padding: 1.25rem 1rem;
  }
  
  .alert-primary {
    color: #084298;
    background-color: #cfe2ff;
    border-color: #b6d4fe;
  }
  .alert-primary .alert-link {
    color: #06357a;
  }
  
  .alert-secondary {
    color: #41464b;
    background-color: #e2e3e5;
    border-color: #d3d6d8;
  }
  .alert-secondary .alert-link {
    color: #34383c;
  }
  
  .alert-success {
    color: #0f5132;
    background-color: #d1e7dd;
    border-color: #badbcc;
  }
  .alert-success .alert-link {
    color: #0c4128;
  }
  
  .alert-info {
    color: #055160;
    background-color: #cff4fc;
    border-color: #b6effb;
  }
  .alert-info .alert-link {
    color: #04414d;
  }
  
  .alert-warning {
    color: #664d03;
    background-color: #fff3cd;
    border-color: #ffecb5;
  }
  .alert-warning .alert-link {
    color: #523e02;
  }
  
  .alert-danger {
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
  }
  .alert-danger .alert-link {
    color: #6a1a21;
  }
  
  .alert-light {
    color: #636464;
    background-color: #fefefe;
    border-color: #fdfdfe;
  }
  .alert-light .alert-link {
    color: #4f5050;
  }
  
  .alert-dark {
    color: #141619;
    background-color: #d3d3d4;
    border-color: #bcbebf;
  }
  .alert-dark .alert-link {
    color: #101214;
  }
    

/* Yield */
    .container{
        padding-left: 2em;
        padding-right: 2em;
    }

    .last-entry{
      background: #00CED1;
      padding: 6px;
    }

    .wrapper{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap:1em;
        grid-auto-rows:minmax(150px, auto);
    }
    .wrapper > div{
        background: #696969;
        padding:1em
    }
    .wrapper > div:nth-child(even){
        background: #00CED1;
    }

    .title-box{
      display:grid;
        grid-template-columns: 1fr 1fr;
        grid-gap:1em;
        grid-auto-rows:minmax(50px, auto);
    }

    .box1{
        font-weight: bold;
        font-size: larger;
        grid-column: 1/2;
        grid-row: 1;
    }
    .box2{
        grid-column: 2;
        grid-row: 1;
        justify-self: right;
    }

    .withroman {
        list-style-type: upper-roman;
    }

    .entry-container {
      padding: 0 16px;
      display: block;
    }

    .entry-box {
      display:grid;
      grid-template-columns: 1fr 1fr;
      grid-gap:1em;
      
      box-sizing: border-box;
      margin: 0 0 8px 0;
      overflow: visible;
      padding: 16px;
      position: relative;
      vertical-align: top;
      width: 100%;
      background-color: #fff;
      border: 1px solid #cfd8dc;
      border-radius: 4px;
      box-shadow: none;
    }

    .entry-box:hover {
      background-color: #00CED1;
    }

    .entry-left{
      grid-column: 1;
      grid-row: 1;
    }
    .entry-left-bot{
      grid-column: 1;
      grid-row: 2;
    }
    .entry-right{
      grid-column: 2;
      grid-row: 1;
      justify-self: right;
    }

    .entry-right-bot{
      grid-column: 2;
      grid-row: 2;
      justify-self: right;
    }

    .trash:hover {
      border-radius: 3px;
      padding: 2px;
      background-color: gray;
    }

    .entry-complete {
      font-weight: bold;
    }
    .entry-incomplete {
      font-style: italic;
      color: red;
    }

    .entry-show {
      display:grid;
      grid-template-columns: 1fr 1fr;
    }
    .entry-show-left {
      grid-column: 1;
      
    }
    .entry-show-right {
      grid-column: 2;
      justify-self: right;
      align-self: center;
    }
    .entry-notes{
      font-style: italic;
    }
  }